contents:
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  repositories:
    - https://packages.wolfi.dev/os
  packages:
    - ca-certificates-bundle
    - wolfi-baselayout
    - wolfictl
    - coreutils
    - bash
    - busybox

entrypoint:
  command: /usr/bin/wolfictl

command: -h

archs:
  - x86_64
  - aarch64
