contents:
  repositories:
    - https://packages.cgr.dev/extras
  keyring:
    - https://packages.cgr.dev/extras/chainguard-extras.rsa.pub
  packages:
    - alpine-keys
    - apk-tools
    - apko
    - bash
    - bash-completion
    - bubblewrap
    - busybox
    - ca-certificates-bundle
    - chainctl
    - curl
    - docker
    - docker-dind
    - git
    - gitsign
    - go
    - grype
    - jq
    - make
    - malcontent
    - melange
    - mount
    - spdx-tools-java
    - tree
    - wolfi-baselayout
    - wolfictl
    - yam

environment:
  COLORTERM: truecolor
  TERM: xterm-256color

entrypoint:
  command: /usr/bin/bash

volumes:
  - "/var/lib/docker"
