contents:
  keyring:
    - https://packages.wolfi.dev/os/wolfi-signing.rsa.pub
  repositories:
    - https://packages.wolfi.dev/os
    - /github/workspace/packages
  packages:
    - ca-certificates-bundle
    - wolfi-baselayout
    - sdk
entrypoint:
  command: /usr/bin/sdk

archs:
  - x86_64
  - aarch64
