on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:

concurrency: release

permissions:
  id-token: write
  packages: write
  contents: read

jobs:
  alpine-base:
    uses: ./.github/workflows/.build.yaml
    with:
      image: alpine-base
      registry: ghcr.io/wolfi-dev/alpine-base

  apko:
    uses: ./.github/workflows/.build.yaml
    with:
      image: apko
      melange-config: configs/latest.melange.yaml
      registry: ghcr.io/wolfi-dev/apko

  gcc-musl:
    uses: ./.github/workflows/.build.yaml
    with:
      image: gcc-musl
      registry: ghcr.io/wolfi-dev/gcc-musl

  melange:
    uses: ./.github/workflows/.build.yaml
    with:
      image: melange
      melange-config: configs/latest.melange.yaml
      registry: ghcr.io/wolfi-dev/melange
      
  musl-dynamic:
    uses: ./.github/workflows/.build.yaml
    with:
      image: musl-dynamic
      registry: ghcr.io/wolfi-dev/musl-dynamic
      
  sdk:
    uses: ./.github/workflows/.build.yaml
    with:
      image: sdk
      melange-config: configs/latest.melange.yaml
      registry: ghcr.io/wolfi-dev/sdk

  wolfictl:
    uses: ./.github/workflows/.build.yaml
    with:
      image: wolfictl
      registry: ghcr.io/wolfi-dev/wolfictl
